<div class="">


	<ul id="menu" ng-click="vm.moog('asd')" >
		<a class="logo" href="#"><img src="images/logo-nav.png" alt="HybridApps.io">
		</a>
		<div class="right-align">
			<li data-menuanchor="firstPage"><a>First slide</a></li>
			<li data-menuanchor="secondPage"><a>Second slide</a></li>
			<li data-menuanchor="3rdPage"><a>Third slide</a></li>
			<li data-menuanchor="4thpage"><a>Fourth slide</a></li>
		</div>

	</ul>
</div>
<!-- menu ends here -->
<div full-page options="vm.mainOptions" >
	<div class="section transparent" id="section0">
		<div class="transparent img-trans-box">
			<div class="vert-align">
				<h1 class="text-primary">HybridApps.io</h1>
				<p>Create Beautiful Web Applications With Us.</p>
			</div>
		</div>
	</div>

	<!-- section0 ends here -->
	<div class="section" id="section1">
		<!-- 	    		    	<img src="images/hat.png" class=" hat-image animated bounce element-to-hide"/>-->

		<h2 class="text-secondary">What Understands <br>your <span class="cursive-font">Identity.</span></h2>

		<div class="small-center-div">
			<img src="images/hat.png" class="hat-image animated"/>

		</div>

	</div>
	<!-- section 2 ends here -->


	<div class="section" id="section2">
		<div class="spacer50"></div>
		<h2 class="text-secondary">What we <span class="cursive-font">do</span></h2>
		<div class="row services">
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-0 ">
				<img class="img-small"src="images/svg/design.svg"/>
				<p>Product Design</p>
			</a>
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-1">
				<img class="img-small"src="images/svg/web-development.svg"/>
				<p>Web Development</p>
			</a>
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-2">
				<img class="img-small"src="images/svg/responsive.svg"/>
				<p>Responsive Designs</p>
			</a>
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-3">
				<img class="img-small"src="images/svg/maintenance.svg"/>
				<p>Website Maintenance</p>
			</a>
		</div>
		<div class="row services"> 
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-4">
				<img class="img-small"src="images/svg/seo.svg"/>
				<p>SEO</p>
			</a>
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-5">
				<img class="img-small"src="images/svg/logo-designing.svg"/>
				<p>Logo Design</p>
			</a>
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-6">
				<img class="img-small"src="images/svg/amazon-echo.svg"/>
				<p>Amazon Echo<br>Skill Set</p>
			</a>
			<a href="#" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-md item item-7">
				<img class="img-small"src="images/svg/ecommerce.svg"/>
				<p>E-Commerce</p>
			</a>
		</div>
	</div>



	<div class="section  class="block contact"" id="section3">

		<div class="row  vertical-align">
			<div class="col-lg-3">

				<div class="row">
					<div class="col-lg-12">
						<div class="footer-logo img-responsive">
					
						</div>
					</div>					
				</div>


				<div class="row">
					<div class="col-lg-12">
						<div class="newsletter">
							<h2 class="vert-align">HybridApps.io</h2>	
							<p>Weekly newsletter</p>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
								<span class="input-group-addon" id="basic-addon2">@example.com</span>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-lg-9">
				<section class="content halfwidth equalH" style="min-height: 383px;">
					<div>

					</div>
				</section>
			</div>

		</div>







	</div>
	<!-- section2 ends here -->


</div>










